<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerenciador de Cinemas</title>
  
  <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
</head>
<body class="bg-dark">
  <header>
    <!-- NAVBAR -->
    <nav class="navbar bg-secondary" data-bs-theme="dark">
      <div class="container-fluid mx-5">
        <a class="navbar-brand" href="index.html"><div class="fw-bold fst-italic link-warning">Code-Cine</div></a>
        </div>
      </div>
    </nav>
  </header>
  <section class="px-3">
    <!-- CONTEUDO - CONTENT -->
    <div id="pnlCabecalho" class="row gap-1">
    </div>

    <div id="pnlConteudo" class="container">
    </div>

    <!-- CARTAS, VIDEO - MEIO TELA -->
    <div id="pnlImgVideo" class="row gap-1">  
    </div>

      <!-- GENERO -->
    <div id="pnlGenero" class="d-flex gap-1">
    </div>

    <!-- discricao -->
    <div id="pnlDescricao" class="row m-0">
    </div>

    <!-- creditos -->
    <div id="pnlCredito" class="row m-0">
    </div>
  
        
  </section>
  <footer>
    <!-- RODAPÉ -->
  </footer>
</body>
</html>