<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerenciador de Cinemas</title>
  
  <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
</head>
<body class="bg-dark">
  <header>
    <!-- NAVBAR -->
    <nav class="navbar bg-secondary" data-bs-theme="dark">
      <div class="container-fluid mx-5">
        <a class="navbar-brand" href="index.html"><div class="fw-bold fst-italic link-warning">Code-Cine</div></a>
        </div>
      </div>
    </nav>
  </header>
  <section>
    <!-- CONTEUDO - CONTENT -->
    <div class="container d-grid gap-3 my-4">
      <!-- TITULO E CURTIDAS - SUPERIOR TELA -->
      <div class="row">
        
        <div class="d-flex align-items-center">
          <h1 class="fs-1 fw-bold text-warning">
            Indiana Json
          </h1>
      
          <div class="ms-auto text-end">
            <p class="text-warning">12.200 Votos</p>
            <i class="bi bi-heart fs-2 text-warning"></i>
          </div>
          
        </div>
        <small class="fs-5 text-warning" id="idLancamento">07/11/2023</small>
      </div>
      <!-- CARTAS, VIDEO E GENERO - MEIO TELA -->
      <div class="row gap-1">
        <!-- CARTAS -->
        <div class="col-lg-3">
          <img 
          src="https://image.tmdb.org/t/p/original/9EnfMH0nTPCna87Mh3G8Q6W2wze.jpg"
          class="img-fluid rounded-3">
        </div>
        <!-- VIDEO -->
        <div class="col-lg">
          <div class="ratio ratio-21x9 h-100">
            <iframe src="https://www.youtube.com/embed/R7zJ896KLSk?si=IaFskl1A5pV1uf6Z&ampcontrols=0" frameborder="0" class="rounded-3" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <!-- GENERO -->
      <div class="d-flex gap-1">
        <span class="fs-5 badge rounded-pill bg-warning text-dark">Aventura</span>
        <span class="fs-5 badge rounded-pill bg-warning text-dark">Ação</span>
        <span class="fs-5 badge rounded-pill bg-warning text-dark">Ficção</span>
      </div>
      <div class="row m-0">
        <p class="fs-5 text-dark bg-warning rounded-3 fw-bolder">
          Encontrando-se em uma nova era, aproximando-se da aposentadoria, Indy luta para se encaixar em um mundo que parece tê-lo superado. Mas quando os tentáculos de um mal muito familiar retornam na forma de um antigo rival, Indy deve colocar seu chapéu e pegar seu chicote mais uma vez para garantir que um antigo e poderoso artefato não caia nas mãos erradas.
        </p>
      </div>
    </div>
  </section>
  <footer>
    <!-- RODAPÉ -->
  </footer>
</body>
</html>