<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerenciador de Cinemas</title>
  
  <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
</head>
<body class="bg-dark">
  <header>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-secondary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><div class="fw-bold fst-italic link-warning">Code-Cine</div></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item">
              <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Filmes</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#">Series</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre</a>
            </li>
            
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Pesquise Aqui..." aria-label="Search">
            <button class="btn btn-outline border border-black" type="submit">Pesquisar</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <section>
    <!-- CONTEUDO - CONTENT -->
    <div class="container d-grid gap-3">
      
      <!-- TABELA - GRID -->
      <h1 class="fs-1 fw-bold text-warning pt-3">
        Filmes em Alta
      </h1>

      <div class="row">
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/8tBhAn6qVRQzf5yvEcxjgPMgTkw.jpg"
            class="img-fluid rounded-3">
            <a href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Megatubarão 2
            </a>
          </div>
        </div>
        
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/9EnfMH0nTPCna87Mh3G8Q6W2wze.jpg"
            class="img-fluid rounded-3">
            <a href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Indiana Jones e A Relíquia do Destino
            </a>
          </div>
        </div>
      
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/cfXO8gMTz484ItS0AANhGS4v4b5.jpg"
            class="img-fluid rounded-3">
            <a
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Elementos
            </a>
          </div>
        </div>
            
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/yRRuLt7sMBEQkHsd1S3KaaofZn7.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Barbie
            </a>
          </div>
        </div>
            
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/9EpaPaKozP2b8L1hJekBFI75gCm.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Agente Stone
            </a>
          </div>
        </div>
      
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/4CwKj1fw33BXYzxvrpM3GlAhK4L.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Homem-Aranha: Através do Aranhaverso
            </a>
          </div>
        </div>
            
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/pZaFdrYekwC9ITq4yWrkqEwCy3E.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none"
            >Drácula: A Última Viagem do Deméter
            </a>
          </div>
        </div>
                  
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/2BWhcrlPr6UvSJy5D044Ikq2QxH.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Som da Liberdade
            </a>
          </div>
        </div>
                  
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/itYONYDHpJqTuu8BCXAtHxgpglq.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            The Flash
            </a>
          </div>

        </div>

      </div>

           
      <!-- TABELA - GRID -->
      <h1 class="fs-1 fw-bold text-warning pt-3">
        Lançamentos
      </h1>

      <div class="row">
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/8tBhAn6qVRQzf5yvEcxjgPMgTkw.jpg"
            class="img-fluid rounded-3">
            <a href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Megatubarão 2
            </a>
          </div>
        </div>
        
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/9EnfMH0nTPCna87Mh3G8Q6W2wze.jpg"
            class="img-fluid rounded-3">
            <a href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Indiana Jones e A Relíquia do Destino
            </a>
          </div>
        </div>
      
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/cfXO8gMTz484ItS0AANhGS4v4b5.jpg"
            class="img-fluid rounded-3">
            <a
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Elementos
            </a>
          </div>
        </div>
            
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/yRRuLt7sMBEQkHsd1S3KaaofZn7.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Barbie
            </a>
          </div>
        </div>
            
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/9EpaPaKozP2b8L1hJekBFI75gCm.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Agente Stone
            </a>
          </div>
        </div>
      
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/4CwKj1fw33BXYzxvrpM3GlAhK4L.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Homem-Aranha: Através do Aranhaverso
            </a>
          </div>
        </div>
            
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/pZaFdrYekwC9ITq4yWrkqEwCy3E.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none"
            >Drácula: A Última Viagem do Deméter
            </a>
          </div>
        </div>
                  
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/2BWhcrlPr6UvSJy5D044Ikq2QxH.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Som da Liberdade
            </a>
          </div>
        </div>
                  
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/itYONYDHpJqTuu8BCXAtHxgpglq.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            The Flash
            </a>
          </div>

        </div>

      </div>

               
      <!-- TABELA - GRID -->
      <h1 class="fs-1 fw-bold text-warning pt-3">
        Favoritos
      </h1>

      <div class="row">
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/8tBhAn6qVRQzf5yvEcxjgPMgTkw.jpg"
            class="img-fluid rounded-3">
            <a href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Megatubarão 2
            </a>
          </div>
        </div>
        
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/9EnfMH0nTPCna87Mh3G8Q6W2wze.jpg"
            class="img-fluid rounded-3">
            <a href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Indiana Jones e A Relíquia do Destino
            </a>
          </div>
        </div>
      
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/cfXO8gMTz484ItS0AANhGS4v4b5.jpg"
            class="img-fluid rounded-3">
            <a
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Elementos
            </a>
          </div>
        </div>
            
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/yRRuLt7sMBEQkHsd1S3KaaofZn7.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Barbie
            </a>
          </div>
        </div>
            
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/9EpaPaKozP2b8L1hJekBFI75gCm.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Agente Stone
            </a>
          </div>
        </div>
      
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/4CwKj1fw33BXYzxvrpM3GlAhK4L.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Homem-Aranha: Através do Aranhaverso
            </a>
          </div>
        </div>
            
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/pZaFdrYekwC9ITq4yWrkqEwCy3E.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none"
            >Drácula: A Última Viagem do Deméter
            </a>
          </div>
        </div>
                  
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/2BWhcrlPr6UvSJy5D044Ikq2QxH.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            Som da Liberdade
            </a>
          </div>
        </div>
                  
        <!-- LINHAS 1 - ROWS -->
        <div class="col-6 col-md-4 col-lg-2">
          <div class="d-grid gap-2 text-center">
            <img 
            src="https://image.tmdb.org/t/p/original/itYONYDHpJqTuu8BCXAtHxgpglq.jpg"
            class="img-fluid rounded-3">
            <a 
            href="" 
            class="fs-5 fw-bold link-warning text-decoration-none">
            The Flash
            </a>
          </div>

        </div>

      </div>

      
      
    </div>
  </section>
  <footer>
    <!-- RODAPÉ -->
  </footer>
</body>
</html>